<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PERSONEL_KAYIT_PROGRAMI.Properties.Settings.personelConnectionString"
            connectionString="Data Source=LAPTOP-H333VG89;Initial Catalog=personel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>